@font-face {
  font-family: 'Red Hat Display';
  src: url(RedHatDisplay-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  width: 375px;
  height: 709px;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Red Hat Display', sans-serif;
}

.main-card {
  width: 325px;
  background: white;
  border-radius: 20px;
}

.main-img {
  width: 325px;
  border-radius: 20px 20px 0 0;
}

.text{
  text-align: center;
  padding: 25px;
}

.text h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin: 0px 0 25px 0;
}

p#text-p {
  color: hsl(224, 23%, 55%);
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.icon-text {
  /* border: 1px solid black; */
  border-radius: 10px;
  background: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

.annual-plan {
  width: 150px;
  margin-left: -15px;
  color: hsl(223, 47%, 23%);
}

span#per-year {
  color: hsl(224, 23%, 55%);
}

.icon-text a {
  font-size: .9rem;
  font-weight: 600;
  color: hsl(245, 75%, 52%);
  transition: 300ms ease color;
}

.icon-text a:active {
  color: hsl(225, 100%, 75%);
}

.btn {
  padding: 18px 50px;
  width: 275px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: hsl(245, 75%, 52%);
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 20px;
  transition: 300ms ease background;
}

.btn:active {
  background: hsl(225, 100%, 75%);
}

p#cancel {
  color: hsl(224, 23%, 55%);
  font-weight: 600;
}

@media screen and (min-width: 900px) {
  .container {
    width: 1440px;
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
 color: hsl(228, 45%, 44%);
}
